@font-face {
    font-family: "Norse Bold";
    src: url(Norse-Bold.otf);
}

:root {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    width: 100%;
}

.hero-image {
    background-position: center;
    background-image: url("leaf-image.jpeg");
    background-size: cover;
    color: white;
    min-width: 33%;
    margin-right: 60px;
    position: relative;
}

.logo-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Norse Bold";
    margin-top: 20vh;
    padding: 16px 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.logo-bar > img {
    width: 100px;
}

h1 {
    font-family: "Norse Bold";
}

a {
    color: white;
}

.attribution {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.7;
    font-size: 12px;
}

.description {
    margin-top: 130px;
    margin-bottom: 100px;
    max-width: 600px;
}

.description > p {
    margin-bottom: 20px;
}

.description p {
    font-weight: 700;
    font-size: 1.2rem;
}

.form-container {
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.form-container > p {
    font-weight: 600;
    color:rgb(43, 44, 44);
    margin-bottom: 20px;
    font-size: 1.2rem;
}

fieldset {
    border: none;
    display: flex;
    margin-bottom: 20px;
    width: 48%;
    gap: 100px;
}

label {
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    font-weight: 550;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    height: 25px;
    padding: 4px 8px;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
}

input:focus {
    outline: none !important;
    border-color: rgb(79, 128, 203);
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #596D48;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 7px;
    width: 180px;
    height: 40px;
}

button:hover {
    background-color: #596D48; 
}

.button-area a {
    color: #596D48
}
